a:link { text-decoration: none; }
a:hover {text-decoration: underline; }


:root {
  --primary-color: ;
  --secondary-color: ;
  --primary-text-color: #f8a100;
  --secondary-text-color: ;
  --primary-background-color: #1d0e06;
  --secondary-background-color: #c8c4c1;
  --divider-color: #fca535;

  --primary-font: Comic Sans MS, Comic Sans, cursive;
}

body { 
  background-color: var(--secondary-background-color);
  font-family: var(--primary-font);
}

#header {
  display: flex;
  flex-direction: row;
  /*Make header as wide as the page*/
  width: 100vw - 80px;
  height: 50px;
  background-color: var(--primary-background-color);
  font-size: 1.2em;
  /*Set the font family of the text in the header to Arial*/
  font-family: var(--primary-font);
  /*Set a bottom border of 1px*/
  border-bottom: 3px solid var(--divider-color);
  padding: 5px 40px;
}

header > * {
  display: flex;
  height: 100%;
}

.headerLinkContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerLink {
  margin: 0 20px;
  text-decoration: none;
  list-style-type: none;
}

.headerLink a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.headerLink a:hover {
  text-decoration: underline;
}
