a:link { text-decoration: none; }
a:hover {text-decoration: underline; }

@font-face {
  font-family: 'Ringbearer';
  src: url('./RingbearerMedium-51mgZ.ttf');
}

:root {
  --primary-color: ;
  --secondary-color: ;
  --primary-text-color: #f8a100;
  --secondary-text-color: ;
  --primary-background-color: #1d0e06;
  --secondary-background-color: #c8c4c1;
  --divider-color: #fca535;

  --title-font: 'Ringbearer';
  --primary-font: Sans;
  --secondary-font: Arial, Helvetica, sans-serif;
}

body { 
  background-color: var(--secondary-background-color);
  font-family: var(--primary-font);
}

#notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

#header {
  display: flex;
  flex-direction: row;
  /*Make header as wide as the page*/
  width: auto;
  height: 50px;
  background-color: var(--primary-background-color);
  font-size: clamp(0.4rem, 1.4vw, 1.5rem);
  /*Set the font family of the text in the header to Arial*/
  font-family: var(--primary-font);
  /*Set a bottom border of 1px*/
  border-bottom: 3px solid var(--divider-color);
  padding: 5px 40px;
}

header > * {
  display: flex;
  height: 100%;
}

.headerLinkContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerLink {
  margin: 0 20px;
  text-decoration: none;
  list-style-type: none;
}

.headerLink a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.headerLink a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 5vw;
}

.title{
  font-family: var(--title-font);
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
  color: var(--primary-background-color);
  margin: 0 0 20px;
}

.mainText {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-background-color);
  margin: 0 0 20px;
}

.titleChapterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.titles {
  display: inline-block;
  flex-direction: column;
  max-height: 100%;

}

.titleContainer {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2vw;
  color: var(--primary-text-color);
  border: 3px solid var(--divider-color);
}

.chaptersContainer {

  background-color: var(--primary-background-color);
  border: 3px solid var(--divider-color);
  width: 28vw;
  padding: 2vw;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
